.navbar-lewagon {
  justify-content: space-between;
  background: rgb(44, 153, 98);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item active {
  color: white;
}

.navbar-brand {
  color: white;
}
